extends layout

block content
  var h1Title = "Available Catalog Years"
  #main
    h1 h1Title 
    #mainTable 
      form(action="/users" method="GET")
        .form
          input(type= "submit" value= "Add User")
          input(type= "submit" value= "Edit Catalog")
      //form
      //- table 
      //-   thead 
      //-     th userName
      //-     th userPass
      //-     th userType
      //-   //thead
      //-   tbody 
      //-     each user in users
      //-       tr 
      //-         td= user.name
      //-         td= user.password
      //-         td= user.type
      //-       //tr
      //-     //each
      //-   //tbody
      //- //table

      table
        thead
          th Catalog 
          th Edit?
          th Delete?
        //thead
        tbody 
          each catalog in catalogs 
            tr 
              td= catalog.year
              td
                - var url = "/catalog/edit/" + catalog.year 
                form(action=url method="GET")
                  .form
                    input(type= "hidden" name= year value= catalog.year)
                    input(type= "submit" value= "Edit Catalog")
                //form
              td 
                - var url = "/catalog/delete/" + catalog.year 
                form(action=url method="POST")
                  .form 
                    input(type= "submit" value="Delete")
                //form
              //td
            //tr
          //each
        //tbody
      //table
  //main
                
