extends layout

block content
  var h1Title = "SQL Queries"
  #main
    h1 h1Title 
    #mainTable 
      table
        thead
          th SQL Query Home 
        //thead
        tbody 
            tr 
              td
                - var url = "/users" 
                form(action=url method="GET")
                  .form
                    input(type= "hidden")
                    input(type= "submit" value= "To Users")
                //form
              //td
            //tr
        //tbody
        tbody 
            tr 
              td
                - var url = "/plans/" + "420" 
                form(action=url method="GET")
                  .form
                    input(type= "hidden")
                    input(type= "submit" value = "To Plans")
                //form
              //td
            //tr
        //tbody
      //table
  //main
                
