extends layout

block content
  var h1Title = "Available Catalog Years"
  #main
    h1 h1Title 
    #mainTable 
      form(action="/users" method="GET")
        .form
          input(type= "submit" value= "Add User")
          input(type= "submit" value= "Edit Catalog")
      //form
      //- table 
      //-   thead 
      //-     th userName
      //-     th userPass
      //-     th userType
      //-   //thead
      //-   tbody 
      //-     each user in users
      //-       tr 
      //-         td= user.name
      //-         td= user.password
      //-         td= user.type
      //-       //tr
      //-     //each
      //-   //tbody
      //- //table

      table
        thead
          th Catalog 
        //thead
        tbody 
            tr 
              td
                - var url = "/catalog" 
                form(action=url method="GET")
                  .form
                    input(type= "hidden" name= year)
                    input(type= "submit" value= "To Catalog")
                //form
              //td
            //tr
          
        //tbody
      //table
  //main
                
