.root {
}
.GridSchedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Semester {
  border: 2px solid #9f00ff;
  border-radius: 5px;
  color: #2c0a5f;
  box-shadow: 2.83px 2.83px 2px #2e0438;
  margin: 4px;
  padding: 5px;
}
